---
layout: base
permalink: /index.html
title: "Welcome"
description: "Where Jean muses about life, technology, and digital accessibility."
---

<div class="wrapper">
  <div class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>
  </div>

  <section class="full | region" aria-labelledby="about">
    <div class="wrapper flow prose">
      <h2 id="about">About</h2>
      <p>Hi, I'm Jean Ducrot and this is where I like to whisper about digital accessibility. I am a sports loving, upstate New york living, re-married with 2 teenage daughters. Some mix of all those things transpires here, and all opinions are strickly my own. Now that you've been warned, let's get on with it.</p>
    </div>
  </section>

  <section class="full | region" aria-labelledby="bp">
    <div class="wrapper flow prose">
      <h2 id="latest">Latest</h2>
      <div class="feature | region">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
